<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<body>

<!-- User Registration Modal -->
<div th:fragment="userRegFragment">
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content container-fluid modal-max-width">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalVerticalLabel" th:text="${'User Registration'}">Modal
                        title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div th:if="${param.error} and ${session}"
                         th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
                        <div class="alert alert-dismissible alert-danger error">
                            Reason: <span th:text="${errorMsg}">Demo Invalid input</span>
                        </div>
                    </div>
                    <form th:name="registrationForm" th:id="registrationForm" class="form-horizontal"
                          th:action="${userRegUri}" th:method="post">
                        <fieldset>
                            <div class="row ml-auto">
                                <label th:id="regModalNameLabel" class="control-label" for="firstname">Name:</label>
                                <input type="text" name="firstname" class="input-xlarge ml-2" id="firstname">
                            </div>
                            <div id="rowRegTxtLbl" class="row ml-auto">
                                <label th:id="regModalUsernameLabel" class="control-label"
                                       for="regUsername">Email:</label>
                                <input type="text" name="regUsername" class="input-xlarge ml-2" id="regUsername">
                            </div>
                            <!--<span th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null and session[SPRING_SECURITY_LAST_EXCEPTION].message != null}" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">Invalid credentials</span>-->
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger ml-auto" data-dismiss="modal">Close</button>
                    <button id="btnRegistration" class="btn btn-primary ml-auto" type="button"
                            href="javascript:registerUserSubmit()">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>