<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<body>

<!--Login Page-->
<div th:fragment="login" th:class="container">
    <div sec:authorize="!isAuthenticated()">
        <h3>Login</h3>
        <a th:if="${param.error}" class="col-12">
            <div class="alert alert-dismissible alert-danger error col-xs-5 col-md-8 col-lg-6">
                <div>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Authentication Failure</strong>. Invalid Username and Password.
                </div>
            </div>
        </a>
        <form th:action="@{/user/login}" method="post">
            <div role="row">
                <label for="username" class="hidden-sm-down">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
            </div>
            <div th:role="row" id="password-div">
                <label th:for="password" th:class="hidden-sm-down">Password</label>:
                <input th:type="password" th:id="password" th:name="password" style="margin-left: 6px;"/> <br/>
            </div>
            <div id="checkbox-div" th:role="row">
                <input th:id="remember-me" th:type="checkbox" th:name="remember-me"/>
                <label th:for="remember-me">
                    <a th:data-toggle="tooltip" id="remember-me-text"
                       title="Remember me on this computer">Remember-Me</a>
                </label>
            </div>
            <!--<input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <div th:id="row-btn" th:role="row">
                <div>
                    <input type="button" value="Password Reset" class="btn btn-warning"/>
                    <!--<div class="col-auto " ></div>-->
                    <input th:type="submit" th:value="Login" class="btn btn-primary btn-spacing"/>
                </div>
            </div>
        </form>
    </div>
</div>


<!--No-Auth - Landing Page-->
<div th:fragment="no-auth" th:class="jumbotron">
    <div sec:authorize="!isAuthenticated()">
        <h1>Home Page</h1>
        <br/>
        <div th:class="jumbotron"> Hello Visitor,
            Please <a th:href="@{/user/login}" href="/user/login">click here</a> to login.
        </div>
    </div>
</div>


<!--User-Landing/Dashboard Page-->
<div th:fragment="auth" th:class="jumbotron">
    <!--Loading Protected Landing page...-->
    <div sec:authorize="hasRole('USER')">
        <h1>Landing Page</h1>
        <br/>
        <p>
            Hi <span sec:authentication="name">Bob</span>. You're Inn!
        </p>

        <div class="temp" th:with="logoutUrl=${'/j_spring_security_logout'}">
            Subtitle : <a th:text="${subtitle}"></a>
            <br>
            Message : <a th:text="${message}"></a>
            <br>
            <div class="page-information" role="document">
                <div th:inline="text">Welcome : [[${#httpServletRequest.remoteUser}]]! |
                    <a href="javascript:formSubmit()">Logout</a>
                </div>
            </div>
            Logged user: <span sec:authentication="name">Bob-Test</span>
            <br>
            Roles: <span sec:authentication="principal.authorities">[ROLE_DEMO_1, ROLE_DEMO_2]</span>

            <form th:type="hidden" th:action="${logoutUrl}" th:method="post" th:id="logoutForm">
                <!--<input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            </form>
        </div>
    </div>
</div>

</body>
</html>