<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<!--Login Page-->
<div th:fragment="login" th:class="container">
    <div sec:authorize="!isAuthenticated()">
        <h1>Login page</h1>
        <a th:if="${param.error}" th:class="error">
            <div th:class="alert-danger">
                <div id="error-label" th:class="col-md-3">
                    <button th:type="button" th:class="close" data-dismiss="alert">&times;</button>
                    <strong>Authentication Failure</strong>. Invalid Username and Password.
                </div>
            </div>
        </a>
        <form th:action="@{/user/login}" method="post">
            <div role="row">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
            </div>
            <div role="row">
                <label for="password">Password</label>:
                <input type="password" id="password" name="password"/> <br/>
            </div>
            <div class="col-md-auto offset-md-1">
                <input th:id="remember-me" th:type="checkbox" th:name="remember-me"/>
                <label th:for="remember-me">
                    <a data-toggle="tooltip" title="Remember me on this computer">Remember-Me</a>
                </label>
            </div>
            <!--<input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <div id="row-btn" role="row">
                <div class="col-xs-12 col-sm-8 col-md-5">
                    <input type="button" value="Password Reset"
                           class="btn btn-warning col-xs-auto col-sm-auto col-md-6"/>
                    <input type="submit" th:value="Login"
                           class="btn btn-primary col-xs-auto col-sm-auto col-md-4 btn-spacing"/>
                </div>
            </div>
        </form>
    </div>
</div>


<!--No-Auth - Landing Page-->
<div th:fragment="no-auth" th:class="jumbotron">
    <div sec:authorize="!isAuthenticated()">
        <h1>Home Page</h1>
        <br/>
        <div th:class="jumbotron"> Hello Visitor,
            Please <a th:href="@{/user/login}" href="/user/login">click here</a> to login.
        </div>
    </div>
</div>


<!--User-Landing/Dashboard Page-->
<div th:fragment="auth" th:class="jumbotron">
    <!--Loading Protected Landing page...-->
    <div sec:authorize="hasRole('USER')">
        <h1>Landing Page</h1>
        <br/>
        <p>
            Hi <span sec:authentication="name">Bob</span>. You're Inn!
        </p>

        <div class="temp" th:with="logoutUrl=${'/j_spring_security_logout'}">
            Subtitle : <a th:text="${subtitle}"></a>
            <br>
            Message : <a th:text="${message}"></a>
            <br>
            <div class="page-information" role="document">
                <div th:inline="text">Welcome : [[${#httpServletRequest.remoteUser}]]! |
                    <a href="javascript:formSubmit()">Logout</a>
                </div>
            </div>
            Logged user: <span sec:authentication="name">Bob-Test</span>
            <br>
            Roles: <span sec:authentication="principal.authorities">[ROLE_DEMO_1, ROLE_DEMO_2]</span>

            <form th:type="hidden" th:action="${logoutUrl}" th:method="post" th:id="logoutForm">
                <!--<input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            </form>
        </div>
    </div>
</div>

</body>
</html>