<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="scripts">
    <script th:inline="javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"
            src="/webjars/jquery/3.3.1-1/jquery.js"></script>
    <script th:inline="javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"
            src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>
    <script th:inline="javascript" th:src="@{/public/js/util.js}" src="/public/js/util.js"></script>
    <script th:inline="javascript" th:src="@{/public/js/feedback-ui.js}" src="/public/js/feedback-ui.js"></script>
    <script th:inline="javascript" th:src="@{/public/js/preset.js}" src="/public/js/preset.js"></script>
    <script th:inline="javascript" th:src="@{/public/js/register.js}" src="/public/js/register.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</div>
</body>
</html>