@btnTopMargin: 1rem;
@btnSpacing: 50px;
@labelMarginSpacing: 10px;

#row-btn {
  margin-top: @btnTopMargin;
}

.btn-spacing {
  margin-left: @btnSpacing;
}

#error-label {
  margin-top: @labelMarginSpacing;
  margin-bottom: @labelMarginSpacing - 5;
}