<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:replace="~{fragments/header :: head}">
    <title>Demo Template!!!</title>
</head>
<body>

<!--Navigation-->
<div th:replace="~{fragments/nav :: navi-auth}"></div>

<!--Body-->
<!--If Unauthorized-->
<div sec:authorize="!isAuthenticated()">
    <div class="container" th:replace="~{fragments/landing :: no-auth}"></div>
</div>

<!--Else-->
<div sec:authorize="isAuthenticated()">
    <div class="container" th:replace="~{fragments/landing :: auth}">
    </div>
</div>

</body>
<!--Scripts-->
<div th:replace="~{fragments/imports :: scripts}"></div>
</html>